*{
    margin:0
}
/* Dashboard scrollbar */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#171c29;
}

::-webkit-scrollbar-thumb{
    background:#39445b;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#4d5b79;
}